SentencePiece(Successfully installed SentencePiece-0.2.0)
transformers(Successfully installed huggingface-hub-0.29.3 regex-2024.11.6 safetensors-0.5.3 tokenizers-0.20.3 tqdm-4.67.1 transformers-4.46.3)
pip install nltk rouge-score(Successfully installed click-8.1.8 nltk-3.9.1 rouge-score-0.1.2)
